// Body
$bodyColor: #ffffff;

// Theme
$primaryColor: #1e8fff;
$primaryContrastColor: #0067cd;

//Transitions
$transition-short: 0.2s;
$transition: 0.4s;
$transition-long: 0.6s;

// Miscellaneous
$primaryTextColor: #090b17;
$greyTextColor: #979797;
$greyColor: #cbcbcb;

// Spacing & Gaps
$gap: 25px;

// Font Family
$font-family-1: 'Poppins';

$theme: () !default;
$theme: map-merge(
  (
    "bodyColor": $bodyColor,
    "primaryColor": $primaryColor,
    "primaryContrastColor": $primaryContrastColor,
    "primaryTextColor": $primaryTextColor,
    "greyTextColor": $greyTextColor,
    "greyColor": $greyColor,
    "transition-short": $transition-short,
    "transition": $transition,
    "transition-long": $transition-long,
    "gap": $gap,
    "font-family-1": $font-family-1,
  ),
  $theme
);
